.video{
    width: 100%;
    height: 850px;
}
.pad{
    padding-left: 1px;
    padding-right: 1px;
    height: 100%;
    width: 100%;
 
}

.pad2{
    position: absolute;
    top: 150px;
    color:white;
}
.txt2{
    font-size: large;
    font-weight: 600;
    border-bottom: 2px solid red;
    letter-spacing: 00.01cm;
    width: 566px;
}
.hap{
    font-size:80px;
}